.app{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.menu, .quiz, .endScreen{
  width: 500px;
  height: 500px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 550px;
  color: white;
}

.menu input{
  width: 350px;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}

.menu button{
  width: 350px;
  height: 50px;
  border: none;
  background: rgb(130, 130, 249);
  color: white;
  font-size: 20px;
  border-radius: 20px;
}
.menu button:hover{
  background-color: rgb(146, 146, 243);
  color: rgb(248, 247, 247);
}


.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.options button{
  width: 300px;
  height: 50px;
  margin-top:10px;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 20px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}
.options button:hover{
  background-color: rgb(242, 238, 238);
  color: rgb(108, 107, 107);
}
.options button:active{
  background-color: greenyellow;
  color: white;
}

.quiz button{
  width: 300px;
  height: 50px;
  margin-top:10px;
  cursor: pointer;
}

.endScreen button{
  width: 350px;
  height: 50px;
  border: none;
  background: rgb(130, 130, 249);
  color: white;
  font-size: 20px;
  border-radius: 20px;
}
.endScreen button:hover{
  background-color: rgb(146, 146, 243);
  color: rgb(248, 247, 247);
}

.btn{
  width: 350px;
  height: 50px;
  border: none;
  background: rgb(130, 130, 249);
  color: white;
  font-size: 20px;
  border-radius: 20px;
}
.btn:hover{
  background-color: rgb(146, 146, 243);
  color: rgb(248, 247, 247);
}